:root{
  /*  font-size  */
  --fs-default: 16px;

  /*  font-family  */
  --ff-1: 'Roboto';
  --ff-2: 'Noto Sans TC';

  /*  color  */
  --color-primary: #A00404;
  --color-white: #fff;
  --color-light: #96A9C4;
  --color-dark: #415165;

  /*  space  */
  --space: 8px;
}

body{
  font-family: var(--ff-1), var(--ff-2), sans-serif;
  font-size: calc(var(--fs-default) * 1.5);
  line-height: 1.5;
}
img{
  display: block;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
*, *:before, *:after{
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.d-inline-block{
  display: inline-block;
}

.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}

.w-100{
  width: 100%;
}

.title{
  font-size: calc(var(--fs-default) * 5);
  padding-bottom: calc(var(--space) * .5);

}
.subTitle{
  font-size: calc(var(--fs-default) * 2);
  padding-bottom: var(--space);
  margin-bottom: calc(var(--space) * 2);
}
.subTitle span{
  font-size: calc(var(--fs-default) * 1.5);
  margin-left: calc(var(--space) * 2);
  vertical-align: 4px;
  color: var(--color-primary);
}

.text-white{
  color: var(--color-white) !important;
}

.fs-3{
  font-size: calc(var(--fs-default) * 3);
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}

.img-link-hover:hover{
  opacity: .7;
}

.bg-dark{
  background: var(--color-dark);
  color: var(--color-white);
}

.border-left{
  border-left: 1px solid #000;
}
.border-bottom{
  border-bottom: 1px solid #000;
}
.border-white{
  border-color: var(--color-white) !important;
}
.border-light{
  border-color: var(--color-light) !important;
}
.border-2{
  border-width: 2px;
}
.border-circle{
  border-radius: 50%;
}

.pt-2{
  padding-top: calc(var(--space) * 2);
}
.pt-3{
  padding-top: calc(var(--space) * 3);
}

.pl-3{
  padding-left: calc(var(--space) * 3);
}
.pb-4{
  padding-bottom: calc(var(--space) * 4);
}

.mt-2{
  margin-top: calc(var(--space) * 2);
}
.mt-3{
  margin-top: calc(var(--space) * 3);
}
.mt-4{
  margin-top: calc(var(--space) * 4);
}
.mt-5{
  margin-top: calc(var(--space) * 5);
}
.mt-6{
  margin-top: calc(var(--space) * 6);
}
.mt-9{
  margin-top: calc(var(--space) * 9);
}
.ml-3{
  margin-left: calc(var(--space) * 3);
}

.my-1{
  padding: var(--space) 0;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}